* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgba(196, 238, 255, 0.281);
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    display: flex;
    
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: spin 15s infinite linear;
    
}

.face {
    position: absolute;
    width: 200px;
    height: 200px;
}

.top {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.6835007440476191) 0%, rgba(200,115,178,0.7147233893557423) 35%, rgba(0,212,255,0.3169642857142857) 100%);
    transform: rotateX(90deg) translateZ(100px);
}

.bottom {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.6835007440476191) 0%, rgba(200,115,178,0.7147233893557423) 35%, rgba(0,212,255,0.3169642857142857) 100%);
    transform: rotateX(-90deg) translateZ(100px);
}
.left {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.6835007440476191) 0%, rgba(200,115,178,0.7147233893557423) 35%, rgba(0,212,255,0.3169642857142857) 100%);
    transform: rotateY(90deg) translateZ(100px);
}

.right {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.6835007440476191) 0%, rgba(200,115,178,0.7147233893557423) 35%, rgba(0,212,255,0.3169642857142857) 100%);
    transform: rotateY(-90deg) translateZ(100px);
}

.front {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.6835007440476191) 0%, rgba(200,115,178,0.7147233893557423) 35%, rgba(0,212,255,0.3169642857142857) 100%);
    transform: rotateX(90) translateZ(100px);
}

.back {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.6835007440476191) 0%, rgba(200,115,178,0.7147233893557423) 35%, rgba(0,212,255,0.3169642857142857) 100%);
    transform: rotateX(-180) translateZ(100px);
}

@keyframes spin {
    from {
        transform: rotateX(0deg) rotateY(0deg)
    } to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}